<app-add-prestamo 
    [isVisible]="isModalVisible"
    (modalClosed)="closeModal()"
    (itemAdded)="addItem($event,usuario)">
  </app-add-prestamo>
  
  <div class="modal fade" tabindex="-1" [ngClass]="{'show':showAlertInfo }" [ngStyle]="{'display': showAlertInfo ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Aviso Importante</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="cerrarInfoHorario()"></button>
        </div>
        <div class="modal-body">
          <p>El horario para solicitar prestamos es de 7 am - 7 pm.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarInfoHorario()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    
    <ul class="tabla">
      <li class="fila-h">
        <div class="col1">Fecha</div>
        <div class="col1">Articulo</div>
        <div class="col1">Devolución</div>
        <div class="col1">Estado</div>
      </li><div *ngIf="isLoading" class="spinner">
        <div class="loading-spinner"></div>
        Cargando datos...
      </div>
      <li *ngFor="let prestamo of prestamos" class="fila">
        <div class="col1">{{ prestamo.fecha }}</div>
        <div class="col1">{{ prestamo.articulo }}</div>
        <div class="col1">{{ prestamo.devolucion }}</div>
        <div class="col1" [ngStyle]="{ color: prestamo.estado === 'Entregado' ? '#406ff3' : '#ffaf3e' }">
          {{ prestamo.estado }}
        </div>
      </li>
    </ul>
    <div class="adding" *ngIf="mostrarAdding">
      <span class="icon" (click)="openModal()">
        <i class="bi bi-plus-circle-fill"></i>
      </span>
    </div>
    
  </div>
  
  
  <!--  -->